<div class="col-auto ml-auto" style="background:transparent; margin-top:7px;">
    <table class="table-responsive" cellpadding="0"  border="0">
        <tr class="align-top" height="{{ frequency_data.freqMaxHeight }}">
            <td>
                <small>{{ frequency_data.freqMax }} Hz</small>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr class="align-bottom" height="{{ frequency_data.freqMid2Height }}">
            <td>
                <small>{{ frequency_data.freqMid2 }} Hz</small>
            </td>
        </tr>
        <tr class="align-bottom" height="{{ frequency_data.freqMid1Height }}">
            <td>
                <small>{{ frequency_data.freqMid1 }} Hz</small>
            </td>
        </tr>
        <tr class="align-bottom" height="{{ frequency_data.freqMinHeight }}">
            <td>
                <small>{{ frequency_data.freqMin }} Hz</small>
            </td>
        </tr>
    </table>
</div>