<div>
    <label class="col-form-label form-inline">
        <div>Description:</div>
        <a class="maad-laber" href="{{ index.URL }}">{{ index.description }}</a>
    </label>
</div>
{% if index.param is not null and index.param != '' %}
    {% for p in index.param|split('!') %}
        <div class="form-group form-inline">
            <input id="{{ p }}" name="{{ p }}" class="form-control form-control-sm" size="4" type="text">
            <label class="ml-2 col-form-label-sm" for="{{ p }}">{{ p }}</label>
        </div>
    {% endfor %}
{% endif %}
<a href="{{ baseUrl }}/recording/maad" class="js-maad-modal btn btn-outline-primary">Submit</a>
<script>
    $(".js-maad-modal").click(function (e) {
        let data = []
        let param = ''
        {% if index.param is not null and index.param != '' %}
        {% for p in index.param|split('!') %}
        if ($('#{{ p }}').val() != '') {
            param = param + '{{ p }}' + '?' + $('#{{ p }}').val() + '@'
        }
        {% endfor %}
        {% endif %}
        data = {
            'minTime': $('input[name=minTimeView]').val(),
            'maxTime': $('input[name=maxTimeView]').val(),
            'minFrequency': $('input[name=minFreqView]').val(),
            'maxFrequency': $('input[name=maxFreqView]').val(),
            'collection_id': $('input[name=collection_id]').val(),
            'recording_id': $('input[name=recording_id]').val(),
            'recording_name': $('input[name=recording_name]').val(),
            'recording_directory': $('input[name=recording_directory]').val(),
            'index_id': $('#maad').val(),
            'index': $('#maad').find("option:selected").text(),
            'channel_num': $('input[name=channel_num]').val(),
            'channel': $('input[name=channel]').val(),
            'param': param,
        };
        requestModal(this.href, data, true);
        e.preventDefault();
    });
</script>