<div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if result!='' %}
                <div class="modal-body ml-3">
                    <form id="maadResultForm">
                        {% for r in result|split('!') %}
                            <div class="form-group" id="cust_label_group">
                                <label for="cust_label">{{ r|split('?')[0] }}
                                    : {{ r|split('?')[1]|number_format(2,'.',',') }}</label>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="recording_id" value="{{ recording_id }}">
                        <input type="hidden" name="index_id" value="{{ index_id }}">
                        <input type="hidden" name="coordinates" value="{{ coordinates }}">
                        <input type="hidden" name="value" value="{{ result }}">
                        <input type="hidden" name="param" value="{{ param }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <button id="maadResultButton" type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-save"></i>
                        Save
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
