<div class="row">
    <div class="col-6-auto">
        <div id="myCanvas" class="canvas">
            {% if isUserLogged %}
                {% include 'recording/player/tagBoxes.html.twig' with {'tags': player.tags, 'show_tags': player.isShowTags} %}
            {% endif %}
            <div id="playerCursor" class="player-line"></div>
            <img src="{{ player.imageFilePath }}" id="cropbox"/>
        </div>

        <div class="row no-gutters mt-1">
            <div class="col-auto mr-auto">
                <div>
                    <button id="play" class="btn btn-link" data-playing="false" role="switch" aria-checked="false"
                            disabled>
                        <i class="fas fa-play"></i>
                    </button>
                    <button id="stop" class="btn btn-link">
                        <i class="fas fa-stop"></i>
                    </button>
                    <h8>
                        <span id="time_sec_div">{{ player.minTime > 0 ? player.minTime|round: 0 }}</span>
                        /
                        <span id="duration">{{ (player.maxTime - player.minTime|round) }}
                            s</span>
                    </h8>
                </div>
            </div>
            <div class="col-auto">
                <form class="form-inline" id="recordingForm"
                      action="{{ baseUrl }}/recording/show/{{ player.recording.recording_id }}" method="post">
                    <input type="hidden" name="channel" value="{{ player.channel }}">
                    <input type='hidden' name='showTags' value="{{ player.showTags }}">
                    <input type='hidden' name='estimateDistID' value="{{ player.estimateDistID }}">
                    <input type="hidden" name="recording_id" value="{{ player.recording.recording_id }}">
                    <input type="hidden" name="recording_name" value="{{ player.recording.name }}">
                    <input type="hidden" name="specWidth" value="{{ player.spectrogramWidth }}">
                    <input type="hidden" name="specHeight" value="{{ player.spectrogramHeight }}">
                    <input type="hidden" name="minTimeView" value="{{ player.minTime }}">
                    <input type="hidden" name="maxTimeView" value="{{ player.maxTime }}">
                    <input type="hidden" name="minFreqView" value="{{ player.minFrequency }}">
                    <input type="hidden" name="maxFreqView" value="{{ player.maxFrequency }}">

                    {% include 'recording/player/timeBoxes.html.twig' with {
                        'minTime': player.minTime,
                        'maxTime': player.maxTime,
                        'minFrequency': player.minFrequency,
                        'maxFrequency': player.maxFrequency,
                    } only %}

                    <div class="btn-group dark-buttons" role="group">
                        <a href="#" id="exportCoordinates" class="btn btn-link" title="Export coordinates to clipboard">
                            <i class="fas fa-clipboard"></i>
                        </a>
                        <button id="zoom-submit" class="btn btn-link" type="button" title="Zoom" disabled>
                            <i class="fas fa-search-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group btn-group-toggle dark-buttons" data-toggle="buttons">
                        <label for="continuous-play" class="btn btn-link {{ player.isContinuousPlay ? 'active':'' }}"
                               title="Continuous playback">
                            <input type="checkbox" id="continuous-play" name="continuous_play"
                                   autocomplete="off" {{ player.isContinuousPlay ? 'checked':'' }}>
                            <i class="fas fa-redo-alt"></i>
                        </label>
                        <label for="filter" class="btn btn-link" title="Filter">
                            <input type="checkbox" id="filter" name="filter">
                            <i class="fas fa-filter"></i>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if isUserLogged %}
        <div>
            <div class="col-auto ">
                <label class="col-form-label">
                    <strong>My Label:</strong>
                </label>
            </div>
            <div>
                <form id="reclabelform" novalidate>
                    <input type="hidden" name="recording_id" value="{{ player.recording.recording_id }}"/>
                    <input type="hidden" name="user_id" value="{{ user_id }}"/>
                    &nbsp;&nbsp;&nbsp;<select id="reclabel" name="label_id" required>
                        {% for lbl in labels %}
                            <option value="{{ lbl.id }}" {{ lbl.id == myLabel.id ? 'selected' }}>{{ lbl.name }}</option>
                        {% endfor %}
                    </select>
                    <a href="{{ baseUrl }}/recording/addLabel" class="js-open-modal" title="add custom label">
                        <i class="fas fa-plus pr-1"></i>
                    </a>
                </form>
            </div>
        </div>
    {% endif %}
    {#    {% include 'recording/player/frequencyScale.html.twig' %} #}
</div>
