<div class="col-md-1" style="background:transparent; margin-top:7px;">
    <table class="table-responsive" cellpadding="0"  border="0">
        <tr height="{{ frequency_data.freqMaxHeight }}" style="vertical-align:top;">
            <td>
                <h6>{{ frequency_data.freqMax }} Hz</h6>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr height="{{ frequency_data.freqMid2Height }}" style="vertical-align:bottom;">
            <td>
                <h6>{{ frequency_data.freqMid2 }} Hz</h6>
            </td>
        </tr>
        <tr height="{{ frequency_data.freqMid1Height }}" style="vertical-align:bottom;">
            <td>
                <h6>{{ frequency_data.freqMid1 }} Hz</h6>
            </td>
        </tr>
        <tr height="{{ frequency_data.freqMinHeight }}" style="vertical-align:bottom;">
            <td>
                <h6>{{ frequency_data.freqMin }} Hz</h6>
            </td>
        </tr>
    </table>
</div>