{% for tag in tags %}
    <div class="tag-controls {{ tag.style }}" id="{{ tag.id }}" style="z-index: {{ tag.position }}; border-color: {{ tag.color }}; left: {{ tag.left }}px; top: {{ tag.top }}px; height: {{ tag.height }}px; width: {{ tag.width }}px; {{ show_tags ? '' : 'hidden' }}"></div>

    <div class='panel panel-default panel-tag' hidden>
        <div class='panel-heading'>{{ tag.title }}</div>

        <div class='panel-body'>
            <div class='btn-group no-wrap' role='group'>
                <a href="{{ base_url }}/ajaxcallmanager.php?class=tag&action=edit&id={{ tag.id }}" class='btn btn-primary btn-sm tag' title='Edit Tag'>
                    <span class='glyphicon glyphicon-edit' aria-hidden='true'></span>
                </a>

                <a href='#' onclick='return false;' class='btn btn-primary btn-sm zoom-tag' title='Zoom Tag'>
                    <span class='glyphicon glyphicon-zoom-in' aria-hidden='true'></span>
                </a>
                <a href='#' onclick='return false;' id="est_{{ tag.id }}" type='button' class='btn btn-primary btn-sm estimate-distance' title='Estimate Call Distance'>
                    <span class='glyphicon glyphicon-bullhorn' aria-hidden='true'></span>
                </a>
            </div>
        </div>
    </div>
{% endfor %}