<ul class="list-group list-group-flush my-4">
    {% for collection in collections %}
        {% if isUserLogged or collection.public %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h4>
                            <a href="{{ baseUrl}}/collection/show/{{ collection.id }}">{{ collection.name }}</a>
                        </h4>
                        <h6>Author:
                            <small>{{ collection.author }}</small>
                        </h6>
                        <h6>DOI:
                            <small>{{ collection.doi }}</small>
                        </h6>
                        <h6>Creation Date:
                            <small>{{ collection.creationDate }}</small>
                        </h6>
                    </div>
                    <div class="col-7">
                        <h6>
                            Description:<small>
                                {{ collection.note }}
                            </small>
                        </h6>
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
