{% extends 'administration/admin.html.twig' %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
                <h2>Collections</h2>
            </div>
        </div>

        {% include 'collection/collectionsList.html.twig'  %}

        <nav aria-label="pagination">
            {% if pages > 0 %}
                <ul class="pagination justify-content-center">
                    {% if pages > 10 %}
                        <li class="page-item">
                            <a href="{{ baseUrl }}/collection/index/{{ currentPage == 1 ? 1 : currentPage - 1 }}/{{ display }}">
                                <i class="fa fa-angle-left" style="font-size:36px; position:relative; top:4px;"></i>
                            </a>
                            &nbsp;&nbsp;</li>
                        <li class="page-item {{ currentPage == 1 ? 'active' }}">
                            <a class="page-link" href="{{ baseUrl }}/collection/index/1/{{ display }}">1</a>
                        </li>
                        {% if currentPage <= 3 %}
                            <li class="page-item  {{ currentPage == 2 ? 'active' }}">
                                <a class="page-link" href="{{ baseUrl }}/collection/index/2/{{ display }}">2</a>
                            </li>
                            <li class="page-item {{ currentPage == 3 ? 'active' }}">
                                <a class="page-link" href="{{ baseUrl }}/collection/index/3/{{ display }}">3</a>
                            </li>
                            <li class="disabled">
                                <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                <span style="font-size:28px;position:relative;">.</span>
                                <span style="font-size:28px;position:relative;">.&nbsp;</span>
                            </li>
                        {% endif %}

                        {% if currentPage >= 4 and currentPage <= (pages - 3) %}
                            <li class="disabled">
                                <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                <span style="font-size:28px;position:relative;">.</span>
                                <span style="font-size:28px;position:relative;">.&nbsp;</span>
                            </li>
                            {% if currentPage == 4 %}
                                <li class="page-item  active">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/4/{{ display }}">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/{{ currentPage + 1 }}/{{ display }}">{{ currentPage + 1}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/{{ currentPage + 2 }}/{{ display }}">{{ currentPage + 2}}</a>
                                </li>
                            {% elseif currentPage == pages - 3 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/{{ currentPage - 2}}/{{ display }}">{{ currentPage - 2 }}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/{{ currentPage - 1 }}/{{ display }}">{{ currentPage - 1 }}</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/{{ currentPage}}/{{ display }}">{{ currentPage }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/{{ currentPage -1 }}/{{ display }}">{{ currentPage - 1 }}</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/{{ currentPage }}/{{ display }}">{{ currentPage }}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="{{ baseUrl }}/collection/index/{{ currentPage + 1 }}/{{ display }}">{{ currentPage + 1 }}</a>
                                </li>
                            {% endif %}
                            <li class="disabled">
                                <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                <span style="font-size:28px;position:relative;">.</span>
                                <span style="font-size:28px;position:relative;">.&nbsp;</span>
                            </li>
                        {% endif %}

                        {% if currentPage >= pages - 2 %}
                            <li class="disabled">
                                <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                <span style="font-size:28px;position:relative;">.</span>
                                <span style="font-size:28px;position:relative;">.&nbsp;</span>
                            </li>
                            <li class="page-item  {{ currentPage == pages - 2 ? 'active' }}">
                                <a class="page-link" href="{{ baseUrl }}/collection/index/{{ pages - 2}}/{{ display }}">{{ pages - 2 }}</a>
                            </li>
                            <li class="page-item {{ currentPage == pages - 1 ? 'active' }}">
                                <a class="page-link" href="{{ baseUrl }}/collection/index/{{ pages - 1 }}/{{ display }}">{{ pages -1 }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item {{ currentPage == pages ? 'active' }}">
                            <a class="page-link" href="{{ baseUrl }}/collection/index/{{ pages }}/{{ display }}">{{ pages }}</a>
                        </li>
                        <li class="page-item">&nbsp;&nbsp;
                            <a href="{{ baseUrl }}/collection/index/{{ currentPage == pages ? pages : currentPage + 1 }}/{{ display }}">
                                <i class="fa fa-angle-right" style="font-size:36px; position:relative; top:4px;"></i>
                            </a>
                        </li>
                    {% else %}
                        {% for page in 1..pages %}
                            <li class="page-item {{ page == currentPage ? 'active' }}">
                                <a class="page-link {{ display == 'list' ? 'page-selector' }}" href="{{ baseUrl }}/collection/index/{{ page }}/{{ display }}">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            {% else %}
                <h4>No results</h4>
            {% endif %}
        </nav>
    </div>
{% endblock %}