<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ title }}</title>
        {% include 'styles.html.twig' %}
        {% include 'scripts.html.twig' %}
    {% endblock %}
</head>
{{ _SESSION['regenerate_timeout'] }}
<body class="d-flex flex-column">
{% block navbar %}{% include 'navigationBar.html.twig' %}{% endblock %}

{% block body %}{% endblock %}

<div id="modalWindows"></div>

{% block footer %}{% include 'footer.html.twig' %}{% endblock %}
<div class="modal fade" id="modal-time" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">No activity in the past 30 minutes, refresh.</h5>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
    <script>
        const baseUrl = '{{ baseUrl }}';
        const error = '{{ error }}';
        const regenerate_timeout = '{{ regenerate_timeout }}';
        var t = window.setInterval(function () {
            if (Date.parse(new Date()) / 1000 > parseInt(regenerate_timeout) + 1790) {
                $("#modal-time").modal({backdrop: 'static', keyboard: false}, 'show');
                window.clearInterval(t)
            }
        }, 2000)
    </script>
{% endblock %}

{% include 'loading.html.twig' %}
</body>
</html>