{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron text-center bg-light py-4">
		<img src="{{ imagesUrl }}/biosounds_logo_large.png" alt="BioSounds">
		<p class="lead mt-2">Open-source online platform for ecoacoustics</p>
	</div>
	<div class="container mb-5">
		<h2>Project {{ project_name }}</h2>
		<p>{{ project_description }}</p>
		<p>BioSounds is a tool for ecoacoustics researchers and practitioners. We analyse soundscapes by identifying the sonant animals inside, and we provide sample recordings of animal species for reference in scientific publications.
		<p>
		<img src="{{ projectImagesUrl }}/index.png" class="rounded" alt="workflow" style="width:1200px">
		<p>
		Some <a href="{{ baseUrl}}/project/show">projects</a> are open to the public, but you can access them all after logging in. Contact us if you need to use BioSounds for your project.
	</div>
{% endblock %}
