<header>
    <nav class="navbar navbar-dark navbar-expand-lg menu">
        <div class="container">
            <a class='navbar-brand' href="{{ baseUrl }}" title="ecoSound-web">
                <img src="{{ logoUrl }}" alt="ecoSound-web">
            </a>
            <ul class="nav navbar-nav">
                <li class="navbar-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Open Soundscape Collections</a>
                    <div class="dropdown-menu">
                        <a href="{{ baseUrl }}/collection/show/1" class="dropdown-item">
                            Demo
                        </a>
                    </div>
                </li>
                {% if collections and isUserLogged %}
                    <li class="navbar-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Collections</a>
                        <div class="dropdown-menu">
                            {% for collection in collections %}
                                <a href="{{ baseUrl}}/collection/show/{{ collection.id }}" class="dropdown-item">
                                    {{ collection.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
                {% if isUserLogged %}
                    <li class="navbar-item">
                        <a class="nav-link" target="_blank" href="{{ guide_url }}">Guide</a>
                    </li>
                {% endif %}
                <li class="navbar-item">
                    <a class="nav-link" href="{{ baseUrl}}/project/show">Projects</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{{baseUrl}}/project/about">About</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    {% if isUserLogged %}
                        <li class="navbar-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle user" data-toggle="dropdown">
                                <i class="fas fa-user"></i>
                                {{ username }}
                            </a>
                            <div class="dropdown-menu">
                                {% if is_admin %}
                                    <a href="{{ baseUrl }}/admin/create" class="dropdown-item">Administration</a>
                                {% else %}
                                    <a href="{{ baseUrl }}/admin/selfService" class="dropdown-item">Administration</a>
                                {% endif %}
                                <div class="divider"></div>
                                <a href="{{ baseUrl }}/login/logout" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="navbar-item">
                            <a class="nav-link" href="#" data-target="#loginForm" data-toggle="collapse">
                                <i class="fas fa-sign-in-alt"></i>
                                Login
                            </a>
                        </li>
                        {% block login %}
                            {% include 'login/login.html.twig' %}
                        {% endblock %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
