<ul class="list-group list-group-flush my-4">
    {% for item in list %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-auto mr-auto">
                    {% if item.recording.soundData is not empty  %}
                        <h5><strong>{{ item.recording.soundData.speciesName }}</strong></h5>
                        <h6>Type: <small>{{ item.recording.soundData.typeName }}</small></h6>
                        <h6>Subtype: <small>{{ item.recording.soundData.subtype }}</small></h6>
                        <h6>Rating: <small>{{ item.recording.soundData.rating }}</small></h6>
                        <h6>Filename: <small>{{ item.recording.name }}</small></h6>
                    {% else %}
                        <h5><strong>{{ item.recording.name }}</strong></h5>
                    {% endif %}
                    <h6>Date: <small>{{ item.recording.fileDate|date("d/m/Y") }}</small></h6>
                    <h6>Time: <small>{{ item.recording.fileTime }}</small></h6>
                    {% if item.recording.note is not empty %}
                        <h6>Notes: <small>{{ item.recording.note }}</small></h6>
                    {% endif %}
                </div>
                <div class="col-6">
                    <div id="player-cursor" class="small-player-cursor" data-cursor-id="{{ item.recording.id }}"></div>
                    <img class="small-player-image" src="{{ baseUrl }}/{{ item.playerImage }}">
                    <audio id="player" data-id="{{ item.recording.id }}" controls>
                        <source src="{{ baseUrl }}/{{ item.playerRecording }}" />
                    </audio>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
