{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb bg-white mt-4">
                <li class="breadcrumb-item" aria-current="page">{{ user.username }}</li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ baseUrl }}/admin/selfService">profile</a>
                </li>
            </ul>
        </nav>


        <div class="card mb-3" id="user">
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <thead class="table-borderless">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Password Reset</th>
                            <th scope="col">Permissions</th>
                            <th scope="col">Color</th>
                        </tr>
                    </thead>
                    <tbody class="form-control-sm js-user-list">
                        <tr>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ role.name }}</td>
                            <td>
                                <a href="{{ baseUrl }}/admin/users/passwordReset" class="js-open-modal" data-id="{{ user.user_id }}" title="Reset Password">
                                    <i class='fas fa-edit'></i>
                                </a>
                            </td>

                            <td>
                                <a href="{{ baseUrl }}/UserPermission/view/{{ user.user_id }}" class="js-open-modal" title="Collection Privileges" $privhidden>
                                    <i class='fas fa-tasks'></i>
                                </a>
                            </td>

                            <td>
                                <input type="color" disabled="true" name="color" alt="Tag color" value="{{ user.color is empty ? default_color : user.color }}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(function () {
            'use strict';

            $(document).on('click', '#resetButton', function () {
                $('#myPasswdForm').submit();
            });

            document.querySelectorAll('[type=password]').forEach(function (elem) {
                elem.addEventListener('keyup', function () {
                    document.getElementById('my_new_pwd2').setCustomValidity('');
                    if ($('#my_new_pwd2').val() !== $('#my_new_pwd1').val()) {
                        document.getElementById('my_new_pwd2').setCustomValidity('Passwords do not match.');
                    }
                });
            });

            $(document).on('submit', '#myPasswdForm', function (e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                    alert("hello");
                } else {
                    $.ajax({type: 'POST', url: '{{ baseUrl }}/api/admin/users/resetSave', data: $(this).serialize()}).done(function (response) {
                        showAlert(response.message);
                        $('#modal-div').modal('hide');
                    }).fail(function (response) {
                        alert(response.responseJSON.message);
                        alert(response.responseJSON.errorCode);

                        if (response.responseJSON.errorCode === 1) {
                            $(this).removeClass('was-validated');
                            $('#my_pwd').addClass('is-invalid');
                        }
                    });
                }

                this.classList.add('was-validated');
            });

        });
    </script>
{% endblock %}
