{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/siteCreate.html.twig' %}
    <div class="card mb-3" id="siteList">
        <div class="card-header border-light bg-white text-right">
            <button id="siteFormButton" class="btn btn-outline-primary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#siteFormSection" aria-expanded="false" aria-controls="siteFormSection">
                <i class="fas fa-plus"></i>
                Add Site
            </button>
        </div>

        <div class="card card-body">
            <table class="table-sm table-hover">
                <thead class="table-borderless">
                    <tr style="width:100%;">
                    	 <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Longitude</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">GADM 1</th>
                        <th scope="col">GADM 2</th>
                        <th scope="col">GADM 3</th>
                        <th scope="col">Centroid</th>
                    </tr>
                </thead>
                <tbody class="form-control-sm js-site-list">
                    {% for site in siteList %}
                        <tr style="width:100%;">
                            <td scope='row'>{{ site.id }}
                                <input type="hidden" name="siteId" value="{{ site.id }}">
                            </td>
                            <td>
                                <input type="hidden" name="steId" value="{{ site.id }}">
                                <input type="text" name="name" value="{{ site.name }}">
                            </td>
                            <td>
                                <input type="number" name="longitude" min="-180" max="180" value="{{ site.longitude }}">
                                <div class="invalid-feedback">
                                    Please provide a longitude value, from -180 to 180.
                                </div>
                            </td>
                            <td>
                                <input type="number" id="siteLat" data-id="{{ site.id }}" name="latitude" min="-90" max="90" value="{{ site.latitude }}">
                                <div class="invalid-feedback">
                                    Please provide a latitude value, from -90 to 90.
                                </div>
                            </td>
                            <td>
                                <input type="text" name="gadm1" value="{{ site.gadm1 }}">
                            </td>
                            <td>
                                <input type="text" name="gadm2" value="{{ site.gadm2 }}">
                            </td>
                            <td>
                                <input type="text" name="gadm3" value="{{ site.gadm3 }}">
                            </td>
                            <td>
                                <select id="centro" name="centroid" class="form-control-sm" required>
                                    <option value="true" {{ site.centroId == "true" ? "selected" }}>true</option>
                                    <option value="false" {{ site.centroId == "false" ? "selected" }}>false</option>
                                </select>
                            </td>
                            <td>
                                <a class="js-site-delete" href="#" data-id="{{ site.id }}" title="Delete Site">
                                    <span class="fas fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}

    <script>
        $(function () {
            'use strict';

            /* Save site list */
            $('.js-site-list').on('change', 'input, select, textarea', function () {
                if (this.checkValidity() === false) { // this.style.border = "1px solid red";
                    let tdLongDiv = $(this).parent().children("div");
                    tdLongDiv.addClass("d-block");
                } else {
                    let tdLongDiv = $(this).parent().children("div");
                    tdLongDiv.removeClass("d-block");
                    saveFormList($(this), 'api/admin/sites/save');
                }

            });


            $(document).on('click', '#saveButton', function () {
                $('#siteEdit').submit();
            });

            $('.js-site-delete').click(function (e) {
                if (!confirm('Are you sure you want to delete this site?')) {
                    return false;
                }

                let row = $(this).parents("tr");

                deleteRequest('{{ baseUrl }}/api/admin/siteManager/delete/' + $(this).data('id'), [], false, false, row.remove());
            });


            $('#longitude').on('change', function () {
                if (this.checkValidity() === false) {
                    $('#invalidLongDiv').addClass("d-block");
                } else {
                    $('#invalidLongDiv').removeClass("d-block");
                }
            });
            $('#latitude').on('change', function () {
                if (this.checkValidity() === false) {
                    $('#invalidLatDiv').addClass("d-block");
                } else {
                    $('#invalidLatDiv').removeClass("d-block");
                }
            });

            $('#siteForm').submit(function (e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/sites/save', $(this).serialize(), false, false, function () {
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });

        });
    </script>
{% endblock %}
