{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    {% include 'administration/siteCreate.html.twig' %}
    <div class="card mb-3" id="siteList">
        <div class="card-header border-light bg-white text-right">
            <button id="siteFormButton" class="btn btn-outline-primary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#siteFormSection" aria-expanded="false" aria-controls="siteFormSection">
                <i class="fas fa-plus"></i>
                Add Site
            </button>
        </div>

        <div class="card-body scrollable">
            <table id="siteTable" class="table table-sm table-hover">
                <thead class="table-borderless">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Longitude</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">GADM 1</th>
                        <th scope="col">GADM 2</th>
                        <th scope="col">GADM 3</th>
                        <th scope="col">Centroid</th>
                    </tr>
                </thead>
                <tbody class="form-control-sm js-site-list">
                    {% for site in siteList %}
                        <tr style="width:100%;">
                            <td scope='row'>{{ site.id }}
                                <input type="hidden" name="steId" value="{{ site.id }}">
                            </td>
                            <td>
                                <input type="text" name="name" value="{{ site.name }}">
                            </td>
                            <td>
                                <input type="number" style="width:120px;" name="longitude" min="-180" max="180" step="0.0000000000001" pattern="##.##############" value="{{ site.longitude }}">
                                <div class="invalid-feedback">
                                    Please provide a longitude value, from -180 to 180.
                                </div>
                            </td>
                            <td>
                                <input type="number" style="width:120px;" name="latitude" min="-90" max="90" step="0.0000000000001" pattern="##.##############" value="{{ site.latitude }}">
                                <div class="invalid-feedback">
                                    Please provide a latitude value, from -90 to 90.
                                </div>
                            </td>
                            <td>
                                <input type="text" style="width:200px;" name="gadm1" value="{{ site.gadm1 }}">
                            </td>
                            <td>
                                <input type="text" style="width:200px;" name="gadm2" value="{{ site.gadm2 }}">
                            </td>
                            <td>
                                <input type="text" style="width:200px;" name="gadm3" value="{{ site.gadm3 }}">
                            </td>
                            <td>
                                <select id="centro" name="centroid" class="form-control-sm" required>
                                    <option value="true" {{ site.centroId == "true" ? "selected" }}>true</option>
                                    <option value="false" {{ site.centroId == "false" ? "selected" }}>false</option>
                                </select>
                            </td>
                            <td>
                                <a class="js-site-delete" href="#" data-id="{{ site.id }}" title="Delete Site">
                                    <span class="fas fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="pagination">
                    <ul class="pagination justify-content-center mt-3">
                        {% if pages > 10  %}
                            <li class="page-item">
                                <a href="{{ baseUrl }}/admin/sites/{{ currentPage == 1 ? 1 : currentPage - 1 }}">
                                    <i class="fa fa-angle-left" style="font-size:36px; position:relative; top:4px;"></i>
                                </a>
                                &nbsp;&nbsp;</li>
                            <li class="page-item {{ currentPage == 1 ? 'active' }}">
                                <a class="page-link" href="{{ baseUrl }}/admin/sites/1">1</a>
                            </li>
                            {% if currentPage <= 3 %}
                                <li class="page-item  {{ currentPage == 2 ? 'active' }}">
                                    <a class="page-link" href="{{ baseUrl }}/admin/sites/2">2</a>
                                </li>
                                <li class="page-item {{ currentPage == 3 ? 'active' }}">
                                    <a class="page-link" href="{{ baseUrl }}/admin/sites/3">3</a>
                                </li>
                                <li class="disabled">
                                    <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                    <span style="font-size:28px;position:relative;">.</span>
                                    <span style="font-size:28px;position:relative;">.&nbsp;</span>
                                </li>
                            {% endif %}

                            {% if currentPage >= 4 and currentPage <= (pages - 3) %}
                                <li class="disabled">
                                    <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                    <span style="font-size:28px;position:relative;">.</span>
                                    <span style="font-size:28px;position:relative;">.&nbsp;</span>
                                </li>
                                {% if currentPage == 4 %}
                                    <li class="page-item  active">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/4">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ currentPage + 1 }}">{{ currentPage + 1}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ currentPage + 2 }}">{{ currentPage + 2}}</a>
                                    </li>
                                {% elseif currentPage == pages - 3 %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ currentPage - 2}}">{{ currentPage - 2 }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ currentPage - 1 }}">{{ currentPage - 1 }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ currentPage}}">{{ currentPage }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ currentPage -1 }}">{{ currentPage - 1 }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ currentPage }}">{{ currentPage }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ currentPage + 1 }}">{{ currentPage + 1 }}</a>
                                    </li>
                                {% endif %}
                                <li class="disabled">
                                    <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                    <span style="font-size:28px;position:relative;">.</span>
                                    <span style="font-size:28px;position:relative;">.&nbsp;</span>
                                </li>
                            {% endif %}

                            {% if currentPage >= pages - 2 %}
                                <li class="disabled">
                                    <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                    <span style="font-size:28px;position:relative;">.</span>
                                    <span style="font-size:28px;position:relative;">.&nbsp;</span>
                                </li>
                                <li class="page-item  {{ currentPage == pages - 2 ? 'active' }}">
                                    <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ pages - 2}}">{{ pages - 2 }}</a>
                                </li>
                                <li class="page-item {{ currentPage == pages - 1 ? 'active' }}">
                                    <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ pages - 1 }}">{{ pages -1 }}</a>
                                </li>
                            {% endif %}
                            <li class="page-item {{ currentPage == pages ? 'active' }}">
                                <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ pages }}">{{ pages }}</a>
                            </li>
                            <li class="page-item">&nbsp;&nbsp;
                                <a href="{{ baseUrl }}/admin/sites/{{ currentPage == pages ? pages : currentPage + 1 }}">
                                    <i class="fa fa-angle-right" style="font-size:36px; position:relative; top:4px;"></i>
                                </a>
                            </li>
                        {% else %}
                            {% for page in range(1, pages) %}
                                <li class="page-item {{ currentPage == page ? 'active' }}">
                                    <a class="page-link" href="{{ baseUrl }}/admin/sites/{{ page }}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}

    <script>
        $(function () {
            'use strict';

            /* Save site list */
            $('.js-site-list').on('change', 'input, select, textarea', function () {
                if (this.checkValidity() === false) { // this.style.border = "1px solid red";
                    let tdLongDiv = $(this).parent().children("div");
                    tdLongDiv.addClass("d-block");
                } else {
                    let tdLongDiv = $(this).parent().children("div");
                    tdLongDiv.removeClass("d-block");
                    saveFormList($(this), 'api/admin/siteManager/save');
                }

            });


            $(document).on('click', '#saveButton', function () {
                $('#siteEdit').submit();
            });

            $('.js-site-delete').click(function (e) {
                if (!confirm('Are you sure you want to delete this site?')) {
                    return false;
                }

                let row = $(this).parents("tr");

                deleteRequest('{{ baseUrl }}/api/admin/siteManager/delete/' + $(this).data('id'), [], false, false, row.remove());
            });

            $('#longitude').on('change', function () {
                if (this.checkValidity() === false) {
                    if ($('#invalidLatDiv').css('display') && $('#inv4LatDiv').css('display')) {
                        $('#inv4LatDiv').css({"width": "", "display": ""});
                    }
                    $('#invalidLongDiv').css({"width": "50%", "display": "inline-block", "position": "relative"});
                } else {
                    if ($('#invalidLatDiv').css('display') && (!$('#inv4LatDiv').css('display') || $('#inv4LatDiv').css('display') === 'none')) {
                        $('#inv4LatDiv').css({"width": "50%", "display": "inline-block"});
                    }
                    if ((!$('#invalidLatDiv').css('display') || $('#invalidLatDiv').css('display') === 'none') || !$('#inv4LatDiv').css('display')) {
                        $('#inv4LatDiv').css({"width": "", "display": ""});
                    }

                    $('#invalidLongDiv').css({"display": "", "position": ""});
                }
            });
            $('#latitude').on('change', function () {
                if (this.checkValidity() === false) {
                    $('#inv4LatDiv').css({"width": "50%", "display": "inline-block"});
                    $('#invalidLatDiv').css({"width": "49%", "display": "inline-block", "position": "relative", "right": "2"});
                } else {
                    $('#invalidLatDiv').css({"display": "", "position": ""});
                    $('#inv4LatDiv').css({"width": "", "display": ""});
                }
            });
            $('#siteForm').submit(function (e) {
                e.preventDefault();

                if (this.checkValidity() === false) {
                    e.stopPropagation();
                } else {
                    postRequest('{{ baseUrl }}/api/admin/siteManager/save', $(this).serialize(), false, false, function () {
                        location.reload();
                    });
                }
                this.classList.add('was-validated');
            });

        });
    </script>
{% endblock %}
