{% extends 'administration/admin.html.twig' %}

{% block admin_content %}

    <div class="card mb-3" id="tagsList">
        <div class="card-body scrollable">
            <table id="userTable" class="table table-sm table-hover">
                <thead class="table-borderless">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Species</th>
                    <th scope="col">Recording</th>
                    <th scope="col">Creation User</th>
                    <th scope="col">Time</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Call Distance</th>
                    <th scope="col">Number of individuals</th>
                    <th scope="col">Type</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Creation Date</th>
                </tr>
                </thead>
                <tbody class="form-control-sm js-user-list">
                {% for tag in tags %}
                    <tr>
                        <td scope='row'>{{ tag.Id }}</td>
                        <td>{{ tag.speciesName }}</td>
                        <td>{{ tag.recordingName }}</td>
                        <td>{{ tag.userName }}</td>
                        <td>{{ tag.time }}</td>
                        <td>{{ tag.frequency }}</td>
                        <td>{{ tag.callDistance }}</td>
                        <td>{{ tag.numberIndividuals }}</td>
                        <td>{{ tag.type }}</td>
                        <td>{{ tag.comments }}</td>
                        <td>{{ tag.creationDate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="pagination">
                    <ul class="pagination justify-content-center mt-3">
                        {% if pages > 10 %}
                            <li class="page-item">
                                <a href="{{ baseUrl }}/admin/tags/{{ currentPage == 1 ? 1 : currentPage - 1 }}">
                                    <i class="fa fa-angle-left" style="font-size:36px; position:relative; top:4px;"></i>
                                </a>&nbsp;&nbsp;
                            </li>
                            <li class="page-item {{ currentPage == 1 ? 'active' }}">
                                <a class="page-link" href="{{ baseUrl }}/admin/tags/1">1</a>
                            </li>
                            {% if currentPage <= 3 %}
                                <li class="page-item  {{ currentPage == 2 ? 'active' }}">
                                    <a class="page-link" href="{{ baseUrl }}/admin/tags/2">2</a>
                                </li>
                                <li class="page-item {{ currentPage == 3 ? 'active' }}">
                                    <a class="page-link" href="{{ baseUrl }}/admin/tags/3">3</a>
                                </li>
                                <li class="disabled">
                                    <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                    <span style="font-size:28px;position:relative;">.</span>
                                    <span style="font-size:28px;position:relative;">.&nbsp;</span>
                                </li>
                            {% endif %}

                            {% if currentPage >= 4 and currentPage <= (pages - 3) %}
                                <li class="disabled">
                                    <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                    <span style="font-size:28px;position:relative;">.</span>
                                    <span style="font-size:28px;position:relative;">.&nbsp;</span>
                                </li>
                                {% if currentPage == 4 %}
                                    <li class="page-item  active">
                                        <a class="page-link" href="{{ baseUrl }}/admin/tags/4">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ baseUrl }}/admin/tags/{{ currentPage + 1 }}">{{ currentPage + 1 }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ baseUrl }}/admin/tags/{{ currentPage + 2 }}">{{ currentPage + 2 }}</a>
                                    </li>
                                {% elseif currentPage == pages - 3 %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ baseUrl }}/admin/tags/{{ currentPage - 2 }}">{{ currentPage - 2 }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ baseUrl }}/admin/tags/{{ currentPage - 1 }}">{{ currentPage - 1 }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link"
                                           href="{{ baseUrl }}/admin/tags/{{ currentPage }}">{{ currentPage }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ baseUrl }}/admin/tags/{{ currentPage -1 }}">{{ currentPage - 1 }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link"
                                           href="{{ baseUrl }}/admin/tags/{{ currentPage }}">{{ currentPage }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ baseUrl }}/admin/tags/{{ currentPage + 1 }}">{{ currentPage + 1 }}</a>
                                    </li>
                                {% endif %}
                                <li class="disabled">
                                    <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                    <span style="font-size:28px;position:relative;">.</span>
                                    <span style="font-size:28px;position:relative;">.&nbsp;</span>
                                </li>
                            {% endif %}

                            {% if currentPage >= pages - 2 %}
                                <li class="disabled">
                                    <span style="font-size:28px;position:relative;">&nbsp;.</span>
                                    <span style="font-size:28px;position:relative;">.</span>
                                    <span style="font-size:28px;position:relative;">.&nbsp;</span>
                                </li>
                                <li class="page-item  {{ currentPage == pages - 2 ? 'active' }}">
                                    <a class="page-link"
                                       href="{{ baseUrl }}/admin/tags/{{ pages - 2 }}">{{ pages - 2 }}</a>
                                </li>
                                <li class="page-item {{ currentPage == pages - 1 ? 'active' }}">
                                    <a class="page-link"
                                       href="{{ baseUrl }}/admin/tags/{{ pages - 1 }}">{{ pages -1 }}</a>
                                </li>
                            {% endif %}
                            <li class="page-item {{ currentPage == pages ? 'active' }}">
                                <a class="page-link" href="{{ baseUrl }}/admin/tags/{{ pages }}">{{ pages }}</a>
                            </li>
                            <li class="page-item">&nbsp;&nbsp;
                                <a href="{{ baseUrl }}/admin/tags/{{ currentPage == pages ? pages : currentPage + 1 }}">
                                    <i class="fa fa-angle-right"
                                       style="font-size:36px; position:relative; top:4px;"></i>
                                </a>
                            </li>
                        {% else %}
                            {% for page in range(1, pages) %}
                                <li class="page-item {{ currentPage == page ? 'active' }}">
                                    <a class="page-link" href="{{ baseUrl }}/admin/tags/{{ page }}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="text-right">
        <button id="tagsExport" class="btn btn-outline-primary btn-sm mt-2" type="button"
                data-target="#tagsExport" aria-expanded="false" aria-controls="tagsExport">
            <i class="fas"></i>
            Tag Export
        </button>
    </div>
{% endblock %}
{% block header %}
    {{ parent() }}
    <script>
        $(function () {
            'use strict';
            $(document).on('click', '#tagsExport', function () {
                window.location.href = '{{ baseUrl }}/api/admin/tagMgr/export';
            });
        });
    </script>
{% endblock %}
