<form id="uploadForm" method="POST" class="collapse">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mt-4">
                    <div id="file-uploader" class="file-uploader">You browser doesn't support native upload.</div>
                    <input type="hidden" name="colId" value="{{ colId }}">
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-form-label-sm" for="date">Date </label>
                            <input id="date" class="form-control form-control-sm  js-file-field" name="date" type="date" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-form-label-sm" for="time">Time </label>
                            <input id="time" class="form-control form-control-sm js-file-field" name="time" type="time" min="00:00:00" max="23:59:59" step="1" required>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="form-check form-control-sm pt-5">
                                <input id="from-file" class="form-check-input" name="dateFromFile" type="checkbox">
                                <label class="form-check-label" for="from-file">File</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="sensor" class="col-form-label-sm">Sensor </label>
                            <select id="sensor" name="sensor" class="form-control form-control-sm">
                                {% for sensor in sensors %}
                                    <option value="{{ sensor.sensor_id }}">{{ sensor.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="site" class="col-form-label-sm">Site </label>
                            <select id="site" name="site" class="form-control form-control-sm">
                                {% for site in sites %}
                                    <option value="{{ site.site_id }}">{{ site.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control-sm">
                            <input id="reference" name="reference" type="checkbox">
                            <label for="reference"> Reference Sound</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="speciesName" class="col-form-label-sm">Species</label>
                        <input class="js-species-id" name="species" type="hidden" data-type="upload">
                        <input id="speciesName"
                               class="form-control form-control-sm js-reference-field js-field-required js-species-autocomplete"
                               type="text"
                               size="50"
                               placeholder="Insert the species name for searching"
                               data-type="upload"
                               disabled
                        >
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="type" class="col-form-label-sm">Type </label>
                            <select id="type" name="sound-type" class="form-control form-control-sm js-reference-field js-field-required" disabled>
                                {% for soundType in soundTypes %}
                                    <option value="{{ soundType.soundTypeId }}">{{ soundType.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="subtype" class="col-form-label-sm">Subtype </label>
                            <input id="subtype" name="subtype" class="form-control form-control-sm js-reference-field" type="text" pattern="[A-Z]{1}" placeholder="A-Z" disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="rating" class="col-form-label-sm">Rating </label>
                            <input id="rating" name="rating" class="form-control form-control-sm js-reference-field" type="text" pattern="[A-E]{1}" placeholder="A-E" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="form-group text-right mt-2">
                <button id="closeButton" type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#uploadForm">
                    <i class="fas fa-times"></i> Close
                </button>
                <button id="save_button" type="submit" class="btn btn-outline-primary ml-2" disabled>
                    <i class="fas fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</form>
