{% block body %}
    <hr>
    <div class='row'>
        {% for item in list %}
            <div class="col-lg-4 sound-list-item">
                <a href="{{ baseUrl }}/recording/show/{{ item.recording.id }}/{{ page }}" title="BioSounds player">
                    <img src="{{ baseUrl }}/{{ item.smallImage }}">
                </a>
                <span>
                    <span style="display:inline;">{{ item.recording.name }}</span>
                    <span style="display:inline;">&nbsp;&nbsp;{{ item.recording.labelName }}</span>
                </span>
                <span>{{ item.recording.file_date }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
