{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-10">
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb bg-white">
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ baseUrl }}/collection/show/{{ player.recording.col_id }}/{{ collection_page }}/gallery">
                                {{ player.recording.collection.name }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ player.recording.name }}</li>
                    </ul>
                </nav>
            </div>
            <div class="col-2 mt-1 text-right">
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i> Utilities
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ player.filePath }}" download><i class='fas fa-file-audio mr-1'></i> Download Recording</a>
                        <a class="dropdown-item" href="{{ player.imageFilePath }}" download><i class='fas fa-file-image mr-1'></i> Download Spectrogram</a>
                        <a class="dropdown-item js-open-modal" href="{{ baseUrl }}/recording/details/{{ player.recording.recording_id }}"><i class='fas fa-info-circle mr-1'></i> File Info</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div id="recordingNav" class="col-2 mr-auto text-center">
                <ul class="nav flex-column nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link js-new-tag" href="{{ baseUrl }}/api/tag/create" title="New tag">
                            <i class="fas fa-tag"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-toggle-tags" href="#" title="Toggle tags" data-show={{ player.isShowTags }}>
                            {% if player.isShowTags %}
                                <i class='fas fa-eye-slash'></i>
                            {% else %}
                                <i class="fas fa-eye"></i>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link readingMode" href="{{ baseUrl }}/recording/show/{{ player.recording.recording_id }}" title="Reading mode">
                            <i class="fas fa-compact-disc"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="shift-left" title="Shift left">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="shift-right" title="Shift right">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
                <hr>
                {% if player.recording.channel_num > 1 %}
                    <label class="{{ player.channel == 1 ? 'active' : '' }}">
                        <a href="#" class="channel-left" onclick="return false;"> L </a>
                    </label>
                    <i class='fas fa-headphones'></i>
                    <label class="{{ player.channel == 2 ? 'active' : '' }}">
                        <a href="#" class="channel-right" onclick="return false;"> R </a>
                    </label>
                {% else %}
                    <label>Mono File</label>
                {% endif %}
                <hr>
                <a href="#" class="viewport" title="Overall view"><img src="{{ baseUrl }}/{{ player.viewPortFilePath }}"></a>
                <hr>
                <input id="playback-rate" class="custom-range js-playback-rate-control" type="range" min="0.05" max="1" step="0.01" value="1">
                <label for="playback-rate">Speed: <span class="playback-rate-value">1.0</span>x</label>
            </div>
            <div class="col-10-auto">
                {% include 'recording/player/player.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}

    <script src="{{ baseUrl }}/templates/recording/js/recording.js" defer></script>

    <script src="{{ baseUrl }}/assets/js/jquery.Jcrop.min.js" defer></script>
    <script src="{{ baseUrl }}/templates/recording/player/js/imageCrop.js" defer></script>

    <script src="{{ baseUrl }}/templates/recording/player/js/playbackRate.js" defer></script>
    <script src="{{ baseUrl }}/templates/recording/player/js/player.js" defer></script>
    <script src="{{ baseUrl }}/templates/recording/player/js/coordinateExport.js" defer></script>
    <script src="{{ baseUrl }}/templates/recording/player/js/tagControls.js" defer></script>
    <script src="{{ baseUrl }}/templates/tag/js/tag.js" defer></script>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        var currentTime = 0;
        var fileDuration = {{ player.duration }};
        var minTime = {{ player.minTime }};
        var maxTime = {{ player.maxTime }};

        var minFrequency = {{ player.minFrequency }};
        var maxFrequency = {{ player.maxFrequency }};
        var fileFreqMax = {{ player.fileFreqMax }};

        var specWidth = {{ player.spectrogramWidth }};
        var specHeight = {{ player.spectrogramHeight }};

        let recordingId = {{ player.recording.recording_id }};
        let userId = {{ player.user }};
        let frequency = {{ player.recording.sampling_rate }};
        let channelNum = {{ player.recording.channel_num }};
        let soundFilePath = '{{ player.filePath }}';

        $(function() {
            document.addEventListener('submit', function(e) {
                if (e.target && e.target.id === 'callDistanceForm') {
                    $('#modal-div').modal('hide');
                }
            });

            document.addEventListener('click', function(e) {
                if (e.target && e.target.id === 'distance') {
                    let input = document.getElementById('callDistance');
                    input.value = null;
                    input.readOnly = this.checked;
                }
            });
        });
    </script>
{% endblock %}
