{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main">
        <div class="row text-justify">
            <div class="col-lg-12">
                <h3>What is SoundEFForTS?</h3>
                <p>SoundEFForTS is an online platform for soundscape biodiversity identification based on the open-source project BioSounds. We created this website to share soundscapes
                with experts who can identify the species within our sound recordings: using the specific calls and sounds of sonant animal species, we can determine which species
                are present.</p>
                <p>The data is used in ecological research and exemplary recordings are uploaded on Xeno-Canto. Presently, we are focusing on birds, but we will identify amphibians,
                primates and insects too.</p>
                <h3>Who is behind SoundEFForTS?</h3>
                <p>SoundEFForTS is supported by many people. It is primarily part of the PhD project of Kevin Darras about birds in transformed landscapes of Sumatra, Indonesia.
                “EFForTS” comes from the acronym of the bigger project, “Ecological and Socioeconomic Functions of Tropical Lowland Rainforest Transformation Systems
                (Sumatra, Indonesia)” (CRC 990), which is a scientific collaboration between the German Georg-August University of Göttingen and the Indonesian Universities in
                Bogor (Institut Pertanian Bogor, IPB) and Jambi (Universitas Jambi, UNJA). EFForTS is funded by the DFG.</p>
                <p>Colleagues from the SUB are working with us and helped realizing the website. We work with programmers from Indonesia and Germany, and bird identifiers from
                Indonesia and Singapore.</p>
                <h3>Where does the sound come from?</h3>
                <p>The sound was recorded during many days of fieldwork in the province of Jambi, in Sumatra, Indonesia. We sampled different land use systems across the province:
                secondary forest, jungle rubber, rubber and oil palm plantations, as well as primary swamp forest, secondary swamp forest and bush swamp. Our main recording regions
                are around Bukit Duabelas National Park, around Harapan Rainforest, and in Berbak National Park.</p>
            </div>
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <img class="img-responsive center-block" src="{{ images_url }}/biosounds_logo_green.png"/>
            </div>
            <div class="col-lg-1">
                <img class="img-responsive center-block" src="{{ project_images_url }}/dfg_logo.jpg"/>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive center-block" src="{{ project_images_url }}/xeno-canto_logo.png"/>
            </div>
            <div class="col-lg-1">
                <img class="img-responsive center-block" src="{{ project_images_url }}/uni_logo.jpg"/>
            </div>
            <div class="col-lg-1">
                <img class="img-responsive center-block" src="{{ project_images_url }}/ipb_logo.png"/>
            </div>
            <div class="col-lg-1">
                <img class="img-responsive center-block" src="{{ project_images_url }}/unja_logo.jpg"/>
            </div>
            <div class="col-lg-1">
                <img class="img-responsive center-block" src="{{ project_images_url }}/sub_logo.gif"/>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}
