<form id="reviewForm">
	<div class="row">
		<div class="col-md-2"><h6 id="state"></h6></div>
		<div class="col-md-10">
			<div class="form-group form-inline float-right">
				<button type="button" class="btn btn-outline-primary btn-sm mr-2" id="review-accept-btn">Accept</button>
				<button type="button" class="btn btn-outline-warning btn-sm mr-2" id="review-correct-btn">Revise</button>
				<button type="button" class="btn btn-outline-danger btn-sm" id="review-delete-btn">Delete</button>
			</div>	
		</div>
	</div>		
	<input id="reviewSpeciesId" name="species_id" type="hidden">
	<input name="tag_id" type="hidden" value="{{ tagId }}">
	<input id="review_status" name="tag_review_status_id" type="hidden" value="">

	<div class="form-group" id="review_animal_group">
		<label for="reviewSpeciesName" class="col-form-label-sm">New Review Species</label>
		<input id="reviewSpeciesName" class="form-control form-control-sm js-species-autocomplete" type="text" disabled>
		<div class="invalid-feedback">
			Please select a species from the list.
		</div>
	</div> 
	<div class="form-group">
		<label for="comments" class="sr-only">Comments</label>
		<textarea id="comments" name="note" class="form-control form-control-sm" placeholder="Insert your comments" maxlength="200" rows="2"></textarea>
	</div>
	<div class="review-table">
		<table class="table table-sm">
			<thead>
                <tr>
                    <th scope="col" class="col-form-label-sm">Reviewer</th>
                    <th scope="col" class="col-form-label-sm">Status</th>
                    <th scope="col" class="col-form-label-sm">Species</th>
                    <th scope="col" class="col-form-label-sm">Date</th>
                </tr>
            </thead>
			<tbody>
				{% for review in reviews %}
					<tr>
						<td class="form-control-sm">{{ review.reviewer }}</td>
						<td class="form-control-sm">{{ review.status }}</td>
						<td class="form-control-sm">{{ review.binomial }}</td>
						<td class="form-control-sm">{{ review.creation_date|date("d/m/Y") }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</form>
