{% block body %}
    {% include 'administration/upload.html.twig' with {'sensor': sensor, 'site': site, 'colId': colId} %}

    <div class="row sound-admin-header">
        <form id="collectionForm" action="{{ base_url }}/admin/recordings" method="POST">
            <div class="col-md-6 text-left">
                <label for="colId">Collection </label>
                <select id="colId" name="colId">
                    {% for collection in collections %}
                        <option value="{{ collection.id }}" {{ collection.id == colId ? 'selected' }}>
                            {{ collection.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <div class="col-md-6 text-right">
            <button type="button" id="upload_btn" class="btn btn-primary btn-sm open-form"><span class="glyphicon glyphicon-upload"></span> Upload Files</button>
        </div>
    </div>
    <table class="table table-condensed table-hover table-recordings save-recording">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Original Filename</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for recording in recordings %}
                <tr>
                    <th scope='row'><input type="hidden" name="itemID" value="{{ recording.id }}">{{ recording.id }}</th>
                    <td>{{ recording.filename }}</td>
                    <td><input type='text' title="Name" name="name" value="{{ recording.name }}"></td>
                    <td><input type='date' title="Date" name="file_date" value="{{ recording.fileDate }}"></td>
                    <td><input type='time' title="Time" name="file_time" min="00:00:00" max="23:59:59" step="1" value="{{ recording.fileTime }}"></td>
                    <td>
                        <a class='delete_sound' href='#' data-id='{{ recording.id }}' title='Delete recording'>
                            <span class='glyphicon glyphicon-trash'></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination">
                {% for page in range(1, pages) %}
                    <li {{ currentPage == page ? "class='active'" }}>
                        <a href="{{ base_url }}/admin/recordings/{{ colId }}/{{ page }}">{{ page }}<span class='sr-only'></span></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {

            $('.delete_sound').click(function(e) {
                if (!confirm('Are you sure you want to delete this recording?')) {
                   return false;
                }

                var values = { id: $(this).data("id") };
                var row = $(this).parents("tr");

                $.ajax({
                    type: 'POST',
                    url: '{{ base_url }}/ajaxcallmanager.php?class=RecordingManager&action=delete',
                    data: values,
                    success: function(data){
                        showMessage(data.message, true);
                        row.remove();
                    },
                    error: function(response){
                        showMessage(response.responseJSON.message, true);
                    }
                });
                e.preventDefault();
            });

            $("#colId").change(function() {
                $("#collectionForm").submit();
            });

            /* Save recordings list */
            $(".save-recording").on('change', 'input, select, textarea', function(){
                saveFormList($(this), "RecordingManager", "{{ base_url }}");
            });
        });
    </script>
{% endblock %}

