<div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form id="userPermissionForm">
				<div class="modal-header">
					<h5 class="modal-title">User <strong>{{ username }}</strong> permissions</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button>
				</div>
				<div class="modal-body">
					<input id="user_id" type="hidden" value="{{ userId }}">
					<table id="user-perm" class="table table-sm table-hover">
						<thead class="table-borderless">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Collection</th>
								<th scope="col">View</th>
								<th scope="col">Review</th>
							</tr>
						</thead>
						<tbody>
							{% for collection in collections %}
								<tr>
									<td scope="row">
										{{ collection.collection_id }}
										<input
											class="js-data-input"
											type='hidden'
										    data-collection-id="{{ collection.collection_id }}"
											data-permission-id="{{ collection.permission_id }}"
										>
									</td>
									<td>{{ collection.name }}</td>
									<td class="text-center">
										<input
											class="js-view-checkbox"
											value="{{ viewId }}"
											type="checkbox"
											name="view"
											data-collection-id="{{ collection.collection_id }}"
											{{ collection.permission_id == viewId ? "checked"}}
										>
									</td>
									<td class="text-center">
										<input
											class="js-review-checkbox"
											value="{{ reviewId }}"
											type="checkbox"
											name="review"
											data-collection-id="{{ collection.collection_id }}"
											{{ collection.permission_id == reviewId ? "checked"}}
										>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button id="saveButton" type="submit" class="btn btn-outline-primary">
						<i class="fas fa-save"></i> Save
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(function(){
		$("input[type='checkbox']").click(function() {
			$('.js-data-input[data-collection-id="' + $(this).data('collection-id') + '"]')
				.data('permission-id', this.checked ? $(this).val() : 0);
		});

        $('.js-review-checkbox').change(function(e) {
			$('.js-view-checkbox[data-collection-id="' + $(this).data('collection-id') + '"]')
				.prop('checked', this.checked).prop('disabled', this.checked);
		});
		
		$('#userPermissionForm').submit(function(e) {							
			let rows = [];

			$('table#user-perm tbody tr').each(function(i) {
				let dataInput = $(this).children('td').find(".js-data-input");

				rows.push({
					'collection_id': dataInput.data('collection-id'),
					'permission_id': dataInput.data('permission-id'),
					'user_id': $('#user_id').val(),
				});
			});

			postRequest(
					'{{ baseUrl }}/api/UserPermission/save',
					{'rows': JSON.stringify(rows)},
					true,
					false,
					function () {
						$('#modal-div').modal('hide');
					});

			e.preventDefault();
		});
	});
	
</script>
